<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.bundle.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/main.js" defer></script>
    <script src="js/catalog.js" defer></script>
</head>
<body>
<div class="main main-catalog main-white">
    <div class="main__bg">
        <img src="img/krovlaCatalog.png" alt=""  class="main__bg-img">
    </div>
    <div class="main__sh" id="search">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main__sh-form">
                        <div class="form-wrapper">
                            <div class="form-icon">
                                <img src="img/glass-white.svg" alt="">
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="Поиск">
                            </div>
                            <div class="form-btn">
                                <button>Найти</button>
                            </div>
                        </div>
                        <div class="form-close">
                            <img src="img/close.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= _.template(require('./../includes/header.html').default)(data) %>
    <div class="container">
        <div class="row">
            <div class="col-xl-auto ml-auto">
                <div class="main__block main__block-1">
                    <div class="main__block-title">
                        <p>Кровля</p>
                    </div>
                    <div class="main__block-nav">
                        <a href="#" class="nav-link">профнастил</a>
                        <a href="#" class="nav-link">металлочерепица</a>
                        <a href="#" class="nav-link">дымники и колпаки</a>
                    </div>
                    <div class="main__block-btn">
                        <span>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M0.458168 10.5417C0.2015 10.5417 -0.000167847 10.7434 -0.000167847 11C-0.000167847 11.2567 0.2015 11.4584 0.458168 11.4584H0.916504V10.5417H0.458168Z" fill="white"/>
<path d="M10.5415 10.5417H0.916505V11.4584H10.5415V10.5417Z" fill="white"/>
<path d="M2.29167 22H11C10.7433 22 10.5417 21.7983 10.5417 21.5417V21.0833H2.29167C1.53083 21.0833 0.916666 20.4692 0.916666 19.7083V11.4583H0.458333C0.201667 11.4583 0 11.2567 0 11V19.7083C0 20.9733 1.02667 22 2.29167 22Z" fill="white"/>
<path d="M0 2.29167V11C0 10.7433 0.201667 10.5417 0.458333 10.5417H0.916666V2.29167C0.916666 1.53083 1.53083 0.916667 2.29167 0.916667H10.5417V0.458333C10.5417 0.201667 10.7433 0 11 0H2.29167C1.02667 0 0 1.02667 0 2.29167Z" fill="white"/>
<path d="M3.66651 5.5C3.40984 5.5 3.20817 5.70167 3.20817 5.95833C3.20817 6.215 3.40984 6.41667 3.66651 6.41667H7.33317C7.58984 6.41667 7.7915 6.215 7.7915 5.95833C7.7915 5.70167 7.58984 5.5 7.33317 5.5H3.66651Z" fill="white"/>
<path d="M3.66651 14.6667C3.40984 14.6667 3.20817 14.8684 3.20817 15.125C3.20817 15.3817 3.40984 15.5834 3.66651 15.5834H7.33317C7.58984 15.5834 7.7915 15.3817 7.7915 15.125C7.7915 14.8684 7.58984 14.6667 7.33317 14.6667H3.66651Z" fill="white"/>
<path d="M3.66651 17.4167C3.40984 17.4167 3.20817 17.6184 3.20817 17.875C3.20817 18.1317 3.40984 18.3334 3.66651 18.3334H7.33317C7.58984 18.3334 7.7915 18.1317 7.7915 17.875C7.7915 17.6184 7.58984 17.4167 7.33317 17.4167H3.66651Z" fill="white"/>
<path d="M10.5418 21.0833V21.5416C10.5418 21.7983 10.7435 22 11.0002 22C11.2568 22 11.4585 21.7983 11.4585 21.5416V21.0833H10.5418Z" fill="white"/>
<path d="M11.4585 11.4583H10.5418V21.0833H11.4585V11.4583Z" fill="white"/>
<path d="M11.4585 10.5417H10.5418V11.4584H11.4585V10.5417Z" fill="white"/>
<path d="M11.4585 0.916687H10.5418V10.5417H11.4585V0.916687Z" fill="white"/>
<path d="M10.5418 0.458333V0.916667H11.4585V0.458333C11.4585 0.201667 11.2568 0 11.0002 0C10.7435 0 10.5418 0.201667 10.5418 0.458333Z" fill="white"/>
<path d="M21.0835 10.5417H11.4585V11.4584H21.0835V10.5417Z" fill="white"/>
<path d="M14.6665 5.5C14.4098 5.5 14.2082 5.70167 14.2082 5.95833C14.2082 6.215 14.4098 6.41667 14.6665 6.41667H16.0415V5.5H14.6665Z" fill="white"/>
<path d="M14.8042 17.5542C14.6208 17.7283 14.6208 18.0217 14.8042 18.1958C14.8867 18.2875 15.0058 18.3333 15.125 18.3333C15.2442 18.3333 15.3633 18.2875 15.4458 18.1958L16.5 17.1417L15.8583 16.5L14.8042 17.5542Z" fill="white"/>
<path d="M15.4458 14.8042C15.2717 14.6209 14.9783 14.6209 14.8042 14.8042C14.6208 14.9784 14.6208 15.2717 14.8042 15.4459L15.8583 16.5L16.5 15.8584L15.4458 14.8042Z" fill="white"/>
<path d="M17.144 16.4991L16.5023 15.8574L15.8606 16.4991L16.5023 17.1408L17.144 16.4991Z" fill="white"/>
<path d="M16.0418 6.41669V7.79169C16.0418 8.04835 16.2435 8.25002 16.5002 8.25002C16.7568 8.25002 16.9585 8.04835 16.9585 7.79169V6.41669H16.0418Z" fill="white"/>
<path d="M16.9585 5.5H16.0418V6.41667H16.9585V5.5Z" fill="white"/>
<path d="M16.0418 4.12502V5.50002H16.9585V4.12502C16.9585 3.86835 16.7568 3.66669 16.5002 3.66669C16.2435 3.66669 16.0418 3.86835 16.0418 4.12502Z" fill="white"/>
<path d="M16.5002 15.8584L17.1418 16.5L18.196 15.4459C18.3793 15.2717 18.3793 14.9784 18.196 14.8042C18.0218 14.6209 17.7285 14.6209 17.5543 14.8042L16.5002 15.8584Z" fill="white"/>
<path d="M16.9582 5.5V6.41667H18.3332C18.5898 6.41667 18.7915 6.215 18.7915 5.95833C18.7915 5.70167 18.5898 5.5 18.3332 5.5H16.9582Z" fill="white"/>
<path d="M17.5543 18.1958C17.6368 18.2875 17.756 18.3333 17.8752 18.3333C17.9943 18.3333 18.1135 18.2875 18.196 18.1958C18.3793 18.0217 18.3793 17.7283 18.196 17.5542L17.1418 16.5L16.5002 17.1417L17.5543 18.1958Z" fill="white"/>
<path d="M21.0833 10.5417V11.4584H21.5417C21.7983 11.4584 22 11.2567 22 11C22 10.7434 21.7983 10.5417 21.5417 10.5417H21.0833Z" fill="white"/>
<path d="M22 2.29167C22 1.02667 20.9733 0 19.7083 0H11C11.2567 0 11.4583 0.201667 11.4583 0.458333V0.916667H19.7083C20.4692 0.916667 21.0833 1.53083 21.0833 2.29167V10.5417H21.5417C21.7983 10.5417 22 10.7433 22 11V2.29167Z" fill="white"/>
<path d="M21.0833 19.7083C21.0833 20.4692 20.4692 21.0833 19.7083 21.0833H11.4583V21.5417C11.4583 21.7983 11.2567 22 11 22H19.7083C20.9733 22 22 20.9733 22 19.7083V11C22 11.2567 21.7983 11.4583 21.5417 11.4583H21.0833V19.7083Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="22" height="22" fill="white" transform="matrix(-1 0 0 1 22 0)"/>
</clipPath>
</defs>
</svg>
                        </span>
                        <p>Рассчитать стоимость крыши</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= _.template(require('./../includes/MobileMenu.html').default)(data) %>
</div>
<div class="catalogue">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-sm-3">
                <div class="catalogue__menu">
                    <div class="menu-title">
                        <img src="img/catalogMenu.png" alt="">
                        <p>Каталог</p>
                        <div class="close-btn">
                            <img src="img/close.svg" alt="">
                        </div>
                    </div>
                    <div class="menu-list">
                        <div class="menu-list__item">
                            <div class="item-top">
                                <div class="item-top__title">
                                    <p>Кровля</p>
                                </div>
                                <div class="item-top__more">
                                    <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0451 0.291446C14.8467 0.0929963 14.5242 0.0929963 14.3257 0.291446L8.00015 6.62943L1.66216 0.291446C1.46371 0.0929963 1.14123 0.0929963 0.942783 0.291446C0.744333 0.489895 0.744333 0.812376 0.942783 1.01083L7.62805 7.69609C7.72728 7.79532 7.85131 7.84493 7.98774 7.84493C8.11177 7.84493 8.24821 7.79532 8.34743 7.69609L15.0327 1.01083C15.2436 0.812376 15.2436 0.489895 15.0451 0.291446Z" fill="#89AB42"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <ul>
                                    <%
                                    let arr = [
                                        'металлочерепица',
                                        'софит',
                                        'водосточные системы',
                                        'кровельная вентиляция',
                                        'теплоизоляция',
                                        'ремонтная эмаль',
                                        'профилированный лист',
                                        'стандартные элементы отделки',
                                        'элементы безопасности кровли',
                                        'гидро / пароизоляция',
                                        'герметизирующие материалы',
                                        'крепёж'
                                    ];
                                    %>
                                    <% for (let i = 0; i < arr.length; i++) { %>
                                    <li>
                                        <a href="" class="item-bottom__link"><%= arr[i] %></a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <%
                        let catalog = [
                            'Фасады',
                            'Заборы',
                            'Водосток',
                            'Элементы кровли',
                            'Комплектующие'
                        ];
                        %>
                        <% for (let i = 0; i < catalog.length; i++) { %>
                        <div class="menu-list__item">
                            <div class="item-top">
                                <div class="item-top__title">
                                    <p><%= catalog[i] %></p>
                                </div>
                                <div class="item-top__more">
                                    <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0451 0.291446C14.8467 0.0929963 14.5242 0.0929963 14.3257 0.291446L8.00015 6.62943L1.66216 0.291446C1.46371 0.0929963 1.14123 0.0929963 0.942783 0.291446C0.744333 0.489895 0.744333 0.812376 0.942783 1.01083L7.62805 7.69609C7.72728 7.79532 7.85131 7.84493 7.98774 7.84493C8.11177 7.84493 8.24821 7.79532 8.34743 7.69609L15.0327 1.01083C15.2436 0.812376 15.2436 0.489895 15.0451 0.291446Z" fill="#89AB42"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="item-bottom d-none">
                                <ul>
                                    <% for (let i = 0; i < 12; i++) { %>
                                    <li>
                                        <a href="" class="item-bottom__link">Металл</a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-sm-9">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li><a href="#" class="breadcrumbs__list-link">Главная</a></li>
                        <li><a href="#" class="breadcrumbs__list-link">Каталог</a></li>
                        <li><a href="#" class="breadcrumbs__list-link">Кровля</a></li>
                        <li>Металлочерепица</li>
                    </ul>
                </div>
                <div class="cat-mob d-sm-none">
                    <div class="menu-title">
                        <img src="img/catalogMenu.png" alt="">
                        <p>Каталог</p>
                    </div>
                </div>
                <div class="availability">
                    <div class="availability__wrapper">
                        <div class="availability__item availability-active">
                            В наличии
                        </div>
                        <div class="availability__item">
                            Под заказ
                        </div>
                    </div>
                </div>
                <div class="product">
                    <% for (let i = 0; i < 18; i++) { %>
                    <div class="product__item">
                        <div class="item-img">
                            <a href="product.html"><img src="img/product1.png" alt=""></a>
                        </div>
                        <div class="item-content">
                            <p class="title">Профилированный лист МП-20х1100 (ПЭ-01-8017-0.4)</p>
                            <div class="item-content__info">
                                <p>Профиль: МП-20</p>
                                <p>Цвет: RAL 8017</p>
                                <p>Покрытие: Полиэстр</p>
                                <p>Толщина, мм: 0,4</p>
                            </div>
                            <div class="item-content__line"></div>
                            <div class="item-content__status">
                                <span></span>
                                <p>В наличии</p>
                            </div>
                            <div class="item-content__price">
                                <div class="price-now">
                                    <p>245 ₽ / м<sup>2</sup></p>
                                </div>

                                <div class="price-add">
                                    <button>
                                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="0.5" y="0.5" width="41" height="41" rx="20.5" stroke="#254E2F"/>
                                            <path d="M20.12 20.04V15.984C20.12 15.376 20.448 15.072 21.104 15.072C21.744 15.072 22.064 15.376 22.064 15.984V20.04H26.168C26.776 20.04 27.08 20.36 27.08 21C27.08 21.656 26.76 21.984 26.12 21.984H22.064V26.088C22.064 26.344 21.968 26.56 21.776 26.736C21.584 26.912 21.36 27 21.104 27C20.832 27 20.6 26.912 20.408 26.736C20.216 26.544 20.12 26.312 20.12 26.04V21.984H15.992C15.736 21.984 15.512 21.888 15.32 21.696C15.144 21.488 15.056 21.256 15.056 21C15.056 20.744 15.144 20.52 15.32 20.328C15.512 20.136 15.736 20.04 15.992 20.04H20.12Z" fill="#254E2F"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="price-more">
                                    <a href="product.html">
                                        <img src="img/seeProduct.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>

</body>
</html>