.main-white.main{
  .main__nav-link{
    color: #fff ;
  }
  .main__block-title{
    p{
      color: #fff;
      transition: all 0.4s;
    }
  }
  .nav-link{
    color: #fff;
  }
}
.main{
  height: 837px;
  //background: url("../img/back1.jpg") center center no-repeat;
  position: relative;
  .search-show{
    top: 30px !important;
  }
  .mob-menu{
    display: none;
  }
  &__sh{
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    transition: all 0.4s;
    z-index: 15;
    &-form{
      max-width: 1100px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      .form-wrapper{
        display: flex;
        width: 100%;
        border: 1px solid #89AB42;
        border-radius: 35px;
        margin-left: 34px;
        margin-top: 10px;
        .form-icon{
          width: 35px;
          height: 35px;
          background: #89AB42;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 35px;
          flex: 0 0 35px;
        }
        .form-input{
          width: 100%;
          height: 35px;
          input{
            height: 100%;
            width: 100%;
            border: 0;
            background: transparent;
            padding-left: 15px;
          }
        }
        .form-btn{
          button{
            padding: 5px 51px;
            background: #89AB42;
            border-radius: 39px;
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;
            border: 0;
            height: 35px;
          }
        }
      }
      .form-close{
        margin-top: 14px;
        position: relative;
        left: 16px;
        cursor: pointer;
      }
    }
  }
  &__bg{
    position: absolute;
    left: 0;
    top: 0;
    .main__bg-img{
      transition: all 0.4s;
      opacity: 1;
    }
    .main-hover{
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.4s;
      opacity: 0;
      z-index: -1;
    }
  }
  &__logo{
    padding-top: 15px;
  }
  &__search{
    margin-right: -16px;
    margin-top: 32px;
    cursor: pointer;
  }
  &__nav{
    nav{
      display: flex;
      padding-left: 28px;
    }
    &-link{
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      color: #333333;
      transition: all 0.4s;
      min-width: 107px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      height: 92px;
      position: relative;
      &:before{
        width: 100%;
        height: 10px;
        background: #A1BA43;
        position: absolute;
        left: 0;
        top: -10px;
        display: block;
        content: '';
        transition: all 0.4s;
      }
      &:hover{
        color: #AAC932;
        &:before{
          top: 0;
        }
      }
    }
  }
  &__phone{
    margin-right: -22px;
    margin-top: 27px;
    &-block{
      display: flex;
      border: 1px solid #89AB42;
      border-radius: 39px;
      align-items: center;
      background: transparent;
      transition: all 0.4s;
      &:hover{
        background: #89AB42;
        .block-text{
          .vis{
            display: none;
          }
          .hover{
            display: block;
          }
        }
      }
      .block-img{
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #89AB42;
        border-radius: 39px;
      }
      .block-text{
        padding-left: 8px;
        padding-right: 11px;
        min-width: 142px;
        .vis{
          font-weight: 300;
          font-size: 17px;
          color: #89AB42;
        }
        .hover{
          display: none;
          font-weight: 300;
          font-size: 15px;
          color: #FFFFFF;
        }
      }
    }
  }
  &__cart{
    margin-right: -26px;
    margin-top: 28px;
    &-button{
      display: flex;
      border: 1px solid #89AB42;
      border-radius: 39px;
      align-items: center;
      transition: all 0.4s;
      min-height: 35px;
      background: #89AB42;
      margin-left: 3px;
      cursor: pointer;
      .button-price{
        padding-left: 16px;
        padding-right: 20px;
        font-size: 15px;
        color: #FFFFFF;
      }
      .button-img{
        padding-right: 20px;
      }
    }
  }
  &__block{
    &-title{
      p{
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        @include future;
        text-transform: uppercase;
        color: #333333;
      }
    }
    &-nav{
      margin-top: 19px;
      .nav-link{
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        color: #333333;
        @include future-light;
        transition: all 0.4s;
        padding: 0;
        &:hover{
          color: #89AB42;
        }
      }
    }
  }
  &__block-1{
    margin-top: 47px;
    margin-left: auto;
    margin-right: 79px;
    display: block;
    width: max-content;
    position: relative;
    &:before{
      content: url("../img/krovla-line.png");
      position: absolute;
      right: 179px;
      top: 88px;
    }
  }
  &__block-2{
    margin-top: 39px;
    margin-left: auto;
    margin-right: 24px;
    display: block;
    width: max-content;
    .main__block-nav{
      display: grid;
      max-width: 443px;
      width: 100%;
      grid-template-columns: 1.5fr 2fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 28px;
    }
    position: relative;
    &:before{
      content: url("../img/fasad-line.png");
      position: absolute;
      right: 441px;
      top: 8px;
    }
  }
  &__block-3{
    margin-top: 45px;
    margin-left: auto;
    margin-right: -14px;
    display: block;
    width: max-content;
    position: relative;
    &:before{
      content: url("../img/zabor-line.png");
      position: absolute;
      right: 354px;
      bottom: 0;
    }
  }
  &__cartContent{
    position: absolute;
    right: -8px;
    top: 90px;
    background: #fff;
    width: 542px;
    z-index: 10;
    border-top-left-radius: 100px;
    .cartContent__close{
      display: flex;
      justify-content: flex-end;
      margin-top: 32px;
      margin-right: 18px;
      img{
        cursor: pointer;
      }
    }
    .cartContent__wrapper{
      display: flex;
      flex-direction: column;
      width: 100%;
      .cartContent__item{
        display: flex;
        flex-flow: row wrap;
        padding-left: 21px;
        margin-top: 25px;
        position: relative;
        &:nth-last-child(1){
          &:before{
            display: none;
          }
        }
        &:before{
          width: 509px;
          height: 1px;
          background: #333333;
          display: block;
          content: '';
          position: absolute;
          right: 0;
          bottom: -11px;
        }
        .item-img{
          width: 104px;
        }
        .item-content{
          width: 217px;
          padding-left: 25px;
          padding-top: 12px;
          &__title{
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
          }
          &__price{
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            color: #89AB42;
            margin-top: 9px;
          }
        }
        .item-delete{
          margin-right: 17px;
          margin-top: 6px;
          cursor: pointer;
        }
        .item-count{
          width: 65px;
          display: flex;
          align-items: flex-start;
          margin-left: auto;
          margin-top: 8px;
          margin-right: 17px;
          .count-min{
            font-weight: 300;
            font-size: 24px;
            color: rgba(37, 78, 47, 0.5);
            cursor: pointer;
          }
          .count-num{
            font-weight: 300;
            font-size: 18px;
            color: #254e2f;
            width: 26px;
            text-align: center;
            line-height: 36px;
            margin-left: 6px;
            margin-right: 5px;
          }
          .count-max{
            font-weight: 300;
            font-size: 24px;
            color: #254E2F;
            cursor: pointer;
          }
        }
      }
    }
    .cartContent__bottom{
      display: flex;
      justify-content: space-between;
      border-top: 2px solid #333;
      align-items: center;
      margin-top: 7px;
      padding: 20px 18px 29px 39px;
      .bottom-price{
        p{
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          color: #333333;
        }
      }
      .bottom-btn{
        button{
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          border-radius: 35px;
          background: #89AB42;
          padding: 8px 43px;
          transition: all 0.4s;
          border: 1px solid #89AB42;
          &:hover{
            border: 1px solid #89AB42;
            color: #89AB42;
            background: transparent;
          }
        }
      }
    }
  }
}
.catalog{
  &__menu{
    margin-top: -76px;
    margin-left: -7px;
    display: flex;
    align-items: center;
    &-link{
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      color: #89AB42;
    }
    .menu-list{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      li{
        &:nth-child(1){
          padding: 26px 24px;
        }
        padding: 26px 18px;
        background: #254E2F;
        position: relative;
        transition: all 0.4s;
        cursor: pointer;
        &:hover{
          background: #89AB42;
          a{
            opacity: 0;
          }
          .icon{
            opacity: 1;
          }
        }
        .icon{
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &-btn{
      background: #254E2F;
      padding: 18px 16.5px;
      button{
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        padding: 7px 61px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 40px;
        transition: all 0.4s;
        &:hover{
          background: #89AB42;
          color: #fff;
        }
      }
    }
  }
  &__row{
    padding-left: 8px;
    padding-right: 8px;
  }
  &__col{
    padding: 0;
    &:nth-child(2),
    &:nth-child(1){
      .catalog__block{
        border-right: 2px solid #254E2F;
      }
    }
  }
  &__block{
    width: 100%;
    min-height: 995px;
    padding: 94px 66px;
    position: relative;
    background: transparent;
    transition: all 0.4s;
    &:hover{
      background: #89AB42;
      border-right: 2px solid #89AB42 !important;
      .block__title{
        p{
          color: #FFFFFF;
        }
      }
      .block__img{
        #block__img-1{
          path{
            stroke: #FFFFFF;
          }
        }
        #block__img-2{
          path[stroke]{
            stroke: #FFFFFF;
          }
          path[fill]{
            fill: #FFFFFF;
          }
        }
        #block__img-3{
          path[fill]{
            fill: #FFFFFF;
          }
        }
      }
      .block__arrow{
        rect{
          stroke: #fff;
        }
        path{
          fill: #fff;
        }
      }
      .block__menu{
        &-link{
          color: #FFFFFF;
        }
      }
      .block__more{
        &-btn{
          color: #fff;
          border: 1px solid #fff;
          &:hover{
            background: #fff;
            color: #254E2F;
          }
        }
      }
    }
    .block__img{
      height: 37px;
      #block__img-1{
        path{
          stroke: #89AB42;
        }
      }
      #block__img-2{
        path[stroke]{
          stroke: #89AB42;
        }
        path[fill]{
          fill: #89AB42;
        }
      }
      #block__img-3{
        path[fill]{
          fill: #89AB42;
        }
      }
    }
    .block__title{
      padding-top: 18px;
      p{
        font-weight: 500;
        font-size: 38px;
        line-height: 47px;
        /* identical to box height */
        text-transform: uppercase;
        color: #89AB42;
        @include future;
      }
    }
    .block__menu{
      margin-top: 52px;
      ul{
        list-style: none;
        padding-left: 0;
        overflow: hidden;
        height: 373px;
      }
      &-link{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 53px;
        color: #333333;
        @include future-light;
        &:hover{
          color: #254E2F;
        }
      }
    }
    .block__arrow{
      cursor: pointer;
      svg{
        transform: rotate(180deg);
      }
      rect{
        stroke: #89AB42;
      }
      path{
        fill: #89AB42;
      }
    }
    .block__more{
      position: absolute;
      bottom: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      right: 0;
      &-btn{
        font-weight: 500;
        font-size: 16px;
        color: #89AB42;
        padding: 7px 47px;
        background: transparent;
        border: 1px solid #89AB42;
        border-radius: 40px;
      }
    }
  }
}
.availability{
  &__title{
    padding-top: 72px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text{
      font-weight: 500;
      font-size: 38px;
      line-height: 47px;
      @include future;
      text-transform: uppercase;
      color: #89AB42;
    }
    &-link{
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      margin-right: -30px;
      color: #89AB42;
      img{
        padding-left: 12px;
        padding-bottom: 1px;
        padding-right: 6px;
      }
    }
  }
  &__slider{
    margin-left: -14px;
    margin-top: 6px;
    margin-right: 30px;
    position: relative;
    &-right{
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: center;
      width: 82px;
      height: 468px;
      right: 0;
      top: 0;
      background: #89AB42;
      justify-content: space-between;
      padding-bottom: 68px;
      padding-top: 16px;
      z-index: 2;
      p{
        font-weight: 500;
        font-size: 38px;
        text-transform: uppercase;
        color: #FFFFFF;
        transform: rotate(-90deg);
        @include future;
      }
    }
    &-arrows{
      position: absolute;
      right: 99px;
      top: 14px;
      display: flex;
      z-index: 2;
      .arrows-left{
        margin-right: 16px;
        cursor: pointer;
        svg{
          transform: rotate(180deg);
          transition: all 0.4s;
          rect{
            stroke: #fff;
          }
          path{
            fill: #fff;
          }
          &:hover{
            rect{
              stroke: #89AB42;
            }
            path{
              fill: #89AB42;
            }
          }
        }
      }
      .arrows-right{
        cursor: pointer;
        svg{
          transition: all 0.4s;
          rect{
            stroke: #fff;
          }
          path{
            fill: #fff;
          }
          &:hover{
            rect{
              stroke: #89AB42;
            }
            path{
              fill: #89AB42;
            }
          }
        }
      }
    }
  }
  &-slide{
    .slide-top{
      background: #E5E5E5;
      min-height: 468px;
      position: relative;
      &__back{
        background: #E5E5E5;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }
    .slide-bottom{
      background: #fff;
      padding-top: 36px;
      padding-bottom: 28px;
      position: relative;
      &__back{
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
      &__title{
        padding-right: 173px;
        p{
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          color: #333333;
        }
      }
      &__size{
        p{
          font-weight: normal;
          font-size: 20px;
          line-height: 44px;
          color: #333333;
        }
      }
      &__line{
        background: #333333;
        width: 100%;
        height: 2px;
        display: block;
        content: '';
        margin-top: 19px;
      }
      &__status{
        display: flex;
        align-items: baseline;
        margin-top: 11px;
        span{
          width: 7px;
          height: 7px;
          display: block;
          content: '';
          border-radius: 50px;
          background: #89AB42;
        }
        p{
          font-weight: 300;
          font-size: 11px;
          color: #656464;
          padding-left: 5px;
        }
      }
      &__price{
        display: flex;
        width: 100%;
        .price-now{
          font-weight: 500;
          font-size: 27px;
          padding-top: 6px;
          color: #89AB42;
        }
        .price-old{
          font-weight: normal;
          font-size: 20px;
          text-decoration-line: line-through;
          color: rgba(51, 51, 51, 0.5);
          padding-top: 12px;
          padding-left: 14px;
        }
        .price-add{
          margin-left: auto;
          margin-right: 3px;
          button{
            background: transparent;
            border: 0;
            svg{
              transition: all 0.4s;
              fill: #fff;
              &:hover{
                fill: #254E2F;
                path{
                  fill: #fff;
                }
              }
            }
          }
        }
        .price-more{
          margin-right: 26px;
        }
      }
    }
  }
  &__carousel{
    margin-left: -44px !important;
    width: calc(100% + 44px);
    .carousel__wrapper{
      //display: grid;
      //grid-template-rows: 1fr 1fr;
      //grid-template-columns: 1fr 1fr;
      height: 469px;
      margin-top: 5px;
      //grid-gap: 18px;
      width: 100%;
    }
    .carousel__item{
      display: flex;
      background: #fff;
      width: max-content;
      height: 222px;
      .item-content{
        padding-top: 30px;
        padding-left: 10px;
        .title{
          font-weight: bold;
          font-size: 15px;
          line-height: 18px;
          color: #333333;
        }
        &__line{
          background: #333333;
          width: 100%;
          height: 2px;
          display: block;
          content: '';
          margin-top: 19px;
        }
        &__info{
          height: 72px;
          p{
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #333333;
          }
        }
        &__status{
          display: flex;
          align-items: baseline;
          margin-top: 3px;
          span{
            width: 7px;
            height: 7px;
            display: block;
            content: '';
            border-radius: 50px;
            background: #89AB42;
          }
          p{
            font-weight: 300;
            font-size: 11px;
            color: #656464;
            padding-left: 5px;
          }
        }
        &__price{
          display: flex;
          width: 100%;
          .price-now{
            font-weight: 500;
            font-size: 20px;
            padding-top: 0px;
            color: #89AB42;
          }
          .price-add{
            margin-left: auto;
            margin-right: 3px;
            button{
              background: transparent;
              border: 0;
              svg{
                transition: all 0.4s;
                fill: #fff;
                &:hover{
                  fill: #254E2F;
                  path{
                    fill: #fff;
                  }
                }
              }
            }
          }
          .price-more{
            margin-right: 8px;
            margin-top: -5px;
          }
          .price-add{
            margin-top: -5px;
          }
        }
      }
      .item-img{
        width: 188px;
        img{
          width: 188px;
          height: 188px;
          object-fit: cover;
        }
      }
    }
  }
  &__scroll{
    width: 100%;
    margin-top: 0px;
    margin-left: -6px;
    .scrollbar,
    .irs--round .irs-line{
      background: #254E2F;
      position: relative;
      height: 4px;
      border-radius: 35px;
      width: 100%;
      display: block;
    }
    .scrollbar-item,
    .irs--round .irs-handle{
      width: 24px;
      height: 24px;
      background: #89AB42;
      border-radius: 35px;
      border-color: #89AB42;
    }
    .irs--round .irs-bar{
      background: transparent;
    }
  }
  &__text{
    margin-top: 53px;
    p{
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #333333;
    }
  }
}
.about{
  &__content{
    margin-top: 230px;
    margin-left: -13px;
    &-title{
      p{
        font-weight: normal;
        font-size: 38px;
        line-height: 47px;
        text-transform: uppercase;
        color: #89AB42;
        @include future;
      }
    }
    &-desc{
      margin-top: 28px;
      padding-right: 9px;
      p{
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #333333;
      }
    }
    &-more{
      margin-top: 45px;
      a{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        color: #89AB42;
        img{
          padding-left: 11px;
          padding-bottom: 1px;
        }
      }
    }
  }
  &__home{
    position: relative;
    margin-top: 90px;
    &-img{
      img{
        width: calc(100% + 15px);
      }
    }
    &-list{
      position: absolute;
      left: 0;
      bottom: 0;
      background: #89AB42;
      max-width: 594px;
      width: 100%;
      padding: 28px 80px;
      .list-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 23px;
        position: relative;
        &:hover{
          .list-item__icon{
            opacity: 1 !important;
          }
        }
        &:nth-last-child(1){
          &:before{
            display: none;
          }
        }
        &:before{
          width: 100%;
          height: 1px;
          background: #FFFFFF;
          display: block;
          content: '';
          position: absolute;
          left: 0;
          bottom: 7px;
        }
        &__text{
          .title{
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            color: #FFFFFF;
          }
          .desc{
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
          }
        }
        &__icon{
          opacity: 0.5;
          transition: all 0.4s;
        }
      }
    }
    &-callback{
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 501px;
      height: 178px;
      background: #FFFFFF;
      width: 100%;
      margin-right: -15px;
      .callback-title{
        padding-top: 58px;
        padding-left: 109px;
        p{
          font-weight: normal;
          font-size: 23px;
          line-height: 28px;
          color: #333333;
        }
      }
      .callback-desc{
        display: flex;
        align-items: center;
        padding-left: 109px;
        padding-top: 12px;
        p{
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #89AB42;
        }
        img{
          padding-left: 45px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
.footer{
  border-top: 2px solid #333333;
  margin-top: 114px;
  padding-bottom: 41px;
  &__form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    &-input{
      border: 0;
      background: transparent;
      border-bottom: 1px solid #254E2F;
      font-weight: 300;
      font-size: 14px;
      color: #464646;
      width: 100%;
      margin-bottom: 20px;
      &::placeholder{
        font-weight: 300;
        font-size: 14px;
        color: #464646;
      }
    }
    &-btn{
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      background: #89AB42;
      border-radius: 39px;
      padding: 7px 62px;
      border: 1px solid #89AB42;
      margin-top: 2px;
      transition: all 0.4s;
      &:hover{
        background: #fff;
        color: #89AB42;
      }
    }
    &-policy{
      font-weight: 300;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: #333333;
      padding-top: 8px;
    }
  }
  &__contact{
    padding-left: 133px;
    padding-top: 33px;
    position: relative;
    &:before{
      background: #333333;
      width: 2px;
      height: 161px;
      display: block;
      content: '';
      position: absolute;
      left: 94px;
      top: 28px;
    }
    &-title{
      p{
        font-weight: 500;
        font-size: 19px;
        line-height: 22px;
        color: #333333;
      }
    }
    &-info{
      padding-top: 25px;
      margin-right: -54px;
      a,p{
        font-weight: 300;
        font-size: 16px;
        line-height: 27px;
        color: #464646;
        transition: all 0.4s;
      }
      a:hover{
        color: #89AB42;
      }
    }
  }
  &__menu{
    padding-left: 98px;
    padding-top: 32px;
    position: relative;
    &:before{
      background: #333333;
      width: 2px;
      height: 161px;
      display: block;
      content: '';
      position: absolute;
      left: 54px;
      top: 25px;
    }
    nav{
      display: flex;
      flex-flow: row wrap;
      a{
        width: 50%;
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;
        color: #333333;
        padding-bottom: 30px;
        transition: all 0.4s;
        &:hover{
          color: #89AB42;
        }
      }
    }
  }
  &__copy{
    padding-top: 41px;
    padding-left: 49px;
    position: relative;
    &:before{
      background: #333333;
      width: 2px;
      height: 161px;
      display: block;
      content: '';
      position: absolute;
      left: -4px;
      top: 25px;
    }
    &-logo{
      margin-right: -60px;
      img{
        margin-right: 26px;
      }
    }
    &-policy{
      padding-top: 33px;
      p{
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #301411;
      }
    }
  }
}
.up{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

@media (max-width: 1610px) {
  .main,
  .catalog,
  .availability,
  .about,
  .footer,
  .catalogue,
  .order,
  .contact,
  .service,
  .textPage,
  .sale{
    zoom: 0.835;
  }
}

@media (max-width: 1562px) {
  .about{
    zoom: 0.82;
  }
}

@media (max-width: 1460px) {
  .main,
  .catalog,
  .availability,
  .footer,
  .catalogue,
  .order,
  .contact,
  .service,
  .textPage,
  .sale{
    zoom: 0.75;
  }
  .about{
    zoom: 0.757;
  }
}

@media (max-width: 1370px) {
  .main,
  .catalog,
  .availability,
  .footer,
  .catalogue,
  .order,
  .contact,
  .service,
  .textPage,
  .sale{
    zoom: 0.715;
  }
  .about{
    zoom: 0.718;
  }
}

@media (max-width: 1290px) {
  .main,
  .catalog,
  .availability,
  .footer,
  .catalogue,
  .order,
  .contact,
  .service,
  .textPage,
  .sale{
    zoom: 0.668;
  }
  .about{
    zoom: 0.675;
  }
}

@media (max-width: 600px) {
  .main,
  .catalog,
  .availability,
  .footer,
  .catalogue,
  .order,
  .contact,
  .service,
  .textPage,
  .sale{
    zoom: 1;
  }
  .about{
    zoom: 1;
  }

  .main{
    height: 473px;
    .search-show{
      top: 0 !important;
    }
    &__sh{
      background: #fff;
      .form-wrapper{
        margin-bottom: 13px;
        margin-left: 0;
        margin-top: 14px;
        .form-btn{
          display: none;
        }
      }
      .form-close{
        left: 8px;
        margin-top: 20px;
      }
    }
    .mob-menu{
      display: flex;
      &__content{
        background: #fff;
        .content-menu{
          background: #fff;
        }
      }
    }
    &__bg{
      height: 100%;
      .main-hover{
        display: none;
      }
      .main__bg-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      map{
        display: none;
      }
    }
    &__block{
      display: none;
    }
    &-header__mob{
      position: relative;
      &:before{
        width: 100%;
        height: 1px;
        background: #656464;
        display: block;
        content: '';
        position: absolute;
        bottom: -8px;
      }
    }
    &__menu-mob{
      float: left;
      margin-top: 20px;
    }
    &__logo-mob{
      margin-top: 9px;
      margin-left: 17px;
      float: left;
    }
    &__right{
      display: flex;
      margin-top: 21px;
      justify-content: flex-end;
    }
    &__search-mob{
      margin-right: 15px;
    }
    .mob-menu__active{
      left: 0 !important;
    }
    .mob-menu{
      position: absolute;
      left: -100%;
      top: 0;
      z-index: 10;
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 100%;
      transition: all 0.4s;
      &__close{
        background: #89AB42;
        width: 55px;
        height: 100%;
        padding-left: 16px;
        padding-top: 14px;
        flex: 0 0 55px;
        min-height: 473px;
      }
      &__content{
        background: #fff;
        flex: 1 1;
        min-height: 473px;
        .content-phone{
          border-bottom: 1px solid #333333;
          text-align: right;
          padding-top: 15px;
          padding-right: 15px;
          padding-bottom: 11px;
          a{
            font-size: 17px;
            line-height: 20px;
            color: #AAC932;
          }
        }
        .content-menu{
          nav{
            display: flex;
            flex-direction: column;
            padding-top: 84px;
            padding-left: 15px;
            a{
              font-size: 20px;
              line-height: 24px;
              @include future;
              text-transform: uppercase;
              color: #89AB42;
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }
  .catalog{
    &__menu{
      display: none;
      margin-top: 0px;
      margin-left: -15px;
      position: relative;
      width: calc(100% + 30px);
      &-btn{
        position: absolute;
        top: -62px;
        left: 0;
        right: 0;
        background: transparent;
        padding: 0;
        display: flex;
        justify-content: center;
        button{
          background: #89AB42;
          font-size: 14px;
          border: 1px solid #89AB42;
        }
      }
      .menu-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        li:nth-child(1){
          padding: 14px 0px;
        }
        .link-show{
          background: #89AB42 !important;
          .icon{
            display: flex;
          }
        }
        li{
          padding: 14px 0px;
          flex: 1;
          text-align: center;
          &:hover{
            background: #254e2f;
          }
          .icon{
            opacity: 1;
            display: none;
          }
        }
        a{
          font-size: 15px;
        }
      }
    }
    &__menu-mob{
      display: flex;
      li{
        a{
          pointer-events: none;
        }
        div{
          pointer-events: none;
        }
      }
    }
    &__col{
      display: none;
    }
    &__active{
      display: flex;
      width: 100%;
      padding: 0;
    }
    &__row{
      padding: 0;
    }
    &__block{
      background: #89AB42;
      margin-left: 0px;
      width: 100%;
      padding: 0 22px;
      min-height: 583px;
      .block__arrow{
        display: none;
      }
      .block__img{
        display: none;
      }
      .block__title{
        p{
          color: #FFFFFF;
          font-size: 23px;
        }
      }
      .block__menu{
        margin-top: 2px;
        ul{
          height: auto;
        }
        &-link{
          font-size: 16px;
          line-height: 35px;
          color: #FFFFFF;
        }
      }
      .block__more{
        bottom: 33px;
        &-btn{
          padding: 8px 34px;
          border: 1px solid #ffffff;
          font-size: 14px;
          color: #FFFFFF;
        }
      }
    }
  }
  .availability{
    &__title{
      width: 100%;
      justify-content: center;
      padding-top: 22px;
      padding-bottom: 24px;
      &-text{
        font-size: 20px;
        line-height: 24px;
      }
      &-link{
        display: none;
      }
    }
    &__slider{
      margin-top: 0;
      margin-right: 0;
      width: calc(100% + 30px);
      &-arrows{
        right: 50px;
        top: 7px;
        .arrows-left{
          margin-right: 9px;
        }
        svg{
          width: 34px;
          height: 35px;
        }
      }
      &-right{
        width: 42px;
        height: 228px;
        padding-bottom: 31px;
        img{
          width: 23px;
        }
        p{
          font-size: 18px;
        }
      }
    }
    &-slide{
      .slide-top{
        height: 228px;
        min-height: auto;
        &__img{
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      .slide-bottom{
        padding: 15px 22px;
        &__title{
          padding-right: 0;
          p{
            font-size: 12px;
            line-height: 15px;
          }
        }
        &__size{
          p{
            font-size: 10px;
            line-height: 22px;
          }
        }
        &__line{
          margin-top: 6px;
        }
        &__status{
          margin-top: 1px;
          span{
            width: 6px;
            height: 6px;
          }
          p{
            font-size: 8px;
          }
        }
        &__price{
          .price-now{
            font-size: 15px;
            line-height: 18px;
            padding-top: 0;
          }
          .price-old{
            font-size: 12px;
            line-height: 26px;
            padding-top: 0;
            padding-left: 6px;
          }
          svg,
          img{
            width: 35px;
            height: 35px;
          }
          .price-more{
            margin-right: -10px;
            margin-top: -8px;
          }
          .price-add{
            margin-right: 1px;
            margin-top: -8px;
          }
        }
      }

    }
    &__carousel{
      margin-left: -15px !important;
      margin-right: -15px;
      width: initial;
      .carousel__wrapper{
        display: flex;
        margin-top: 19px;
        width: 100%;
        height: 100%;
        flex-direction: column;
      }
      .carousel__item{
        margin-bottom: 19px;
        width: 100%;
        height: auto;
        .item-img{
          img {
            width: 125px;
            height: 126px;
          }
        }
        .item-content{
          padding-top: 13px;
          padding-left: 5px;
          padding-bottom: 13px;
          .title{
            font-size: 12px;
            line-height: 15px;
          }
          &__info{
            height: 69px;
            padding-top: 8px;
            p{
              font-size: 10px;
              line-height: 14px;
            }
          }
          &__price{
            .price-now{
              font-size: 15px;
              line-height: 18px;
            }
            .price-add{
              margin-top: -9px;
              margin-right: 1px;
            }
            .price-more{
              margin-right: 13px;
              margin-top: -8px;
            }
          }
          svg,img{
            width: 33px;
            height: 33px;
          }
        }
      }
    }
    &__btn{
      display: flex;
      justify-content: center;
      button{
        font-weight: 500;
        font-size: 14px;
        color: #89AB42;
        padding: 8px 83px;
        background: transparent;
        border: 1px solid #89AB42;
        border-radius: 40px;
      }
    }
  }
  .about{
    &-top{
      order: 1;
    }
    &-bottom{
      order: 2;
    }
    &__home{
      margin-top: 40px;
      &-list{
        padding: 15px 20px;
        left: -15px;
        bottom: -50px;
        max-width: 257px;
        .list-item{
          padding-bottom: 16px;
          &:before{
            bottom: 5px;
          }
          &:nth-last-child(1){
            padding-bottom: 0;
          }
          &__icon{
            opacity: 0;
            img{
              width: 17px;
              object-position: right;
            }
          }
          &__text{
            .title{
              font-size: 14px;
              line-height: 16px;
            }
            .desc{
              font-size: 11px;
              line-height: 12px;
            }
          }
        }
      }
      &-img{
        img{
          width: calc(100% + 30px);
          margin-left: -15px;
          min-height: 365px;
          object-fit: cover;
        }
      }
      &-callback{
        position: relative;
        max-width: 271px;
        height: 105px;
        background: #fff;
        width: 100%;
        margin-right: -15px;
        margin-top: 10px;
        float: right;
        .callback-title{
          padding-top: 24px;
          padding-left: 27px;
          p{
            font-size: 16px;
            line-height: 20px;
          }
        }
        .callback-desc{
          padding-top: 6px;
          padding-left: 27px;
          p{
            font-size: 11px;
            line-height: 14px;
          }
        }
      }
    }
    &__content{
      margin-top: 70px;
      margin-left: 0;
      &-title{
        padding-left: 4px;
        p{
          font-size: 20px;
          line-height: 24px;
        }
      }
      &-desc{
        margin-top: 20px;
        padding-right: 5px;
        padding-left: 2px;
        p{
          font-size: 12px;
          line-height: 16px;
        }
      }
      &-more{
        margin-top: 9px;
        text-align: right;
        a{
          font-size: 14px;
          img{
            padding-left: 7px;
          }
        }
      }
    }
  }
  .footer{
    background: #FFFFFF;
    margin-top: 28px;
    &__menu-mob{
      order: -2;
      padding: 0;
    }
    &__menu{
      padding-left: 0;
      background: #254E2F;
      padding-top: 0;
      &:before{
        display: none;
      }
      nav{
        flex-flow: row nowrap;
        padding-left: 17px;
        padding-right: 17px;
        justify-content: space-between;
        a{
          color: #FFFFFF;
          font-size: 11px;
          width: max-content;
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }
    }
    &__contact-mob{
      order: -1;
    }
    &__contact{
      &:before{
        display: none;
      }
      text-align: center;
      padding-left: 0;
      padding-top: 0;
      &-title{
        display: none;
      }
      &-info{
        margin-right: 0;
        padding-top: 17px;
        a:nth-child(1){
          font-size: 19px;
          line-height: 22px;
          color: #464646;
          font-weight: normal;
        }
      }
    }
    &__copy{
      border-top: 2px solid lightgray;
      padding-top: 0;
      margin-top: 40px;
      margin-left: -15px;
      margin-right: -15px;
      &:before{
        display: none;
      }
      padding-left: 0;
      &-logo{
        margin-right: 0;
        margin-top: 14px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 58px;
        }
        a{
          img{
            margin-right: 0;
            width: 109px;
          }
        }
      }
      &-policy{
        padding-top: 16px;
        p{
          font-size: 10px;
          line-height: 12px;
          text-align: center;
        }
      }
    }
  }
}

